/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    /* CSS */
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    /* CSS */
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    /* CSS */
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS */
    .service {
        width: 48%;
    }
    .service p {
        padding: 33% 2% 18% 2%;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    /* CSS */
    .quote1 {
        width: 100%;
    }
    .services-container .container {
        flex-wrap: wrap;
    }
    .service {
        width: 48%;
    }
    .service p {
        padding: 33% 2% 18% 2%;
    }
    h3 {
        height: 62px;
    }
    .aboutheader {
        display: inherit;
        padding: 25px 15px 10px 15px;
    }
    .aboutCompany {
        padding: 0px 5px;
    }
    .partners .partner img {
        width: 75%;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    /* CSS */
    .service {
        width: 48%;
    }
    .service img {
        width: 86px;
        height: 86px;
    }
    h3 {
        height: 62px;
    }
    .aboutheader {
        display: inherit;
        padding: 25px 15px 10px 15px;
    }
    .aboutCompany {
        padding: 0px 5px;
    }
    .partners .partner img {
        width: 75%;
    }
}