html {
  scroll-behavior: smooth;
}
body {
  padding: 0px;
  margin: 0px;
}
h1 {
  font-size: 25px;
}
/* Navigation */
.navigation-container {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.nav-links a {
  text-decoration: none;
  padding: 0px 12px;
  font-size: 20px;
}

/* Landing */

.landing-container {
  height: 80vh;
  text-align: center;
}

.landing-container .container {
  background: linear-gradient(rgb(9 74 112 / 79%) 100%, rgb(195 3 3) 100%),
    url(./assets/landingpage.png) no-repeat center;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.quote1{
    width: 60%;
}
.quote1 p {
  font-size: 25px;
  color: white;
}
/* Services */

.services-container {
  height: 80vh;
  text-align: center;
}
/* About Us */

.about-container {
  height: 80vh;
  text-align: center;
}
/* Reviews */

.reviews-container {
  height: 80vh;
  text-align: center;
}
/* Contact */

.contact-container {
  height: 80vh;
  text-align: center;
}
