html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

h1 {
    font-size: 25px;
    color: #115171;
}

p {
    font-weight: 100;
}


/* Navigation */

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.nav-links a {
    text-decoration: none;
    padding: 0px 12px;
    font-size: 20px;
}


/* Landing */

.landing-container {
    height: 80vh;
    text-align: center;
}

.landing-container .container {
    background: linear-gradient(rgb(11 32 44 / 79%) 100%, rgb(0 0 0) 100%), url(./assets/landingpage.jpg) no-repeat center;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-size: 100% 100%;
}

.quote1 {
    width: 60%;
}

.quote1 p {
    font-size: 1.5rem;
    color: white;
}


/* Services */

.services-container {
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 47px 0px 0px 0px;
    color: #0a3e5f;
}

h3 {
    font-size: 0.9rem;
    margin: 0px;
    background-color: white;
}

.services-container .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service {
    width: 20%;
    margin: 5% 0%;
    background-color: #bbe7f9;
}

.service p {
    padding: 35% 2%;
    margin: 0px;
    border-radius: 5px;
}

.service .image {
    padding: 20px 0px 0px 0px;
    background-color: white;
}

.service .image img {
    width: 150px;
    border-radius: 50%;
    height: 150px;
    margin: 0px 0px -30% 0px;
    z-index: 1;
    background: white;
}


/* About Us */

.about-container {
    text-align: center;
}

.aboutheader {
    display: flex;
    padding: 25px 52px 10px 52px;
    text-align: center;
}

.aboutCompany {
    flex: 1;
    padding: 0px 15px;
}

.aboutCompany p {
    color: rgb(94, 94, 94);
}

.partners {
    display: flex;
    justify-content: space-around;
    padding: 42px 0px;
    align-items: center;
    /* background-color: #bbe7f9; */
}

.partners .partner {
    width: 50%;
}

.partners .partner img {
    width: 50%;
}


/* Reviews */

.reviews-container {
    text-align: center;
}

.initial {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ced0cd;
    border-radius: 50%;
    font-size: 35px;
    color: #8c8585;
    font-weight: bold;
}

.carousel {
    padding: 0px 70px
}

.owl-stage {
    display: flex;
}

.owl-item {
    background-color: burlywood !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-image {
    display: flex;
    justify-content: center;
}

.owl-item img {
    width: 120px !important;
    height: 140px !important;
    border-radius: 50% !important;
}

.checked {
    color: green;
}


/* Contact */

.ourContact {
    text-align: center;
}

.contact-container {
    display: flex;
    margin: 40px 8px;
    justify-content: space-evenly;
}

.contact {
    width: 48%;
    background: #bbe7f9;
    padding: 0px 0px 49px 0px;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.locationMap {
    width: 48%;
}

.form input {
    width: 85%;
    height: 28px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.form textarea {
    resize: none;
    width: 85%;
    outline: none;
    border: none;
    border-radius: 5px;
}

.submitBtn {
    margin: 10px 0px 0px 0px;
    width: 85%;
    text-align: end;
}

.submitBtn .btn-submit {
    width: 70pt;
    height: 24pt;
    border: none;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
}

.footer {
    background-color: #313133;
    display: flex;
    justify-content: space-evenly;
    padding: 45px 0px;
    color: white;
}

.footer div {
    width: 30%;
}

.owl-prev,
.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border: 0px solid black;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: white !important;
}

.owl-prev {
    left: -40px;
}

.owl-next {
    right: -40px;
}

.owl-prev i,
.owl-next i {
    transform: scale(3, 3);
    color: #ccc;
}